body{
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem ;
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius : 1rem;
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;;
}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    height: 100px;
    padding: 0.5rem 0.75rem;
}
.nav-options{
    line-height: 2.5rem;
    opacity: 0.75;
    padding: 0.5rem 0.75rem;
}
.nav-options:hover{
    opacity: 1;
}

.nav-options i{
    font-size: 1.25rem;
   
}
.nav-options a{
    font-size: 1rem;
     margin-left: 0.5rem;
}
.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
}
.options{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.icons{
    font-size: 1.25rem;
    display: flex;
}
.icons i{
    opacity: 0.7;
    margin-right: 1rem;
}
.icons i:hover{
    opacity: 1;
}

.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.6rem 0 1.25rem 0;
    padding: 0.75rem 1rem;
}
.box-p1{
    font-size: 1rem;
    font-weight: 500;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
}
.badge{
    background-color: white;
    border-radius: 100px;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}
.dark-badge{
    background-color: #000;
    color: white;
}

.sticky-nav{
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
    z-index: 10;
}
.sticky-nav-icons{
    margin-left: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticky-nav-options{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item{
    margin: 1rem;
}

@media (max-width: 1000px){
     .hide{
        display: none;
     }
}

.card{
    background-color: #232323;
    width: 150px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1.5rem ;
    margin-top: 1rem;
}

.cards-continer{
    display: flex;
    flex-wrap: wrap;
}

.card img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-tittle{
    font-weight: 600;
}

.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
}

.footer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    border-top: 1px solid white;
    height: 50%;
    opacity: 0.3;
}

.music-player {
    display: flex;
}

.album{
    width: 25%;
    display: flex;
}

.player{
    width: 50%;
    background-color: black;
    
}

.player-control{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.6rem;
}

.controls{
    width: 25%;
}

.player-control-icons{
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;
}

.player-control-icons:hover{
    opacity: 1;
}

.playback-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar{
    width: 70%;
    cursor: pointer;
    appearance: none;
}

.progress-bar::-webkit-slider-runnable-track {
    background: #ddd;
    border-radius: 100px;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background: #1db954;
    border-radius: 50%;
    margin-top: -6px;
}

.album-png {
    height: 60px;
    padding: 6px;
    border-radius: 5px;


}
.p{
    padding-top: 5px;
    align-items: center;
    opacity: 0.75;
}

.p:hover{
    opacity: 1;
}
 
.small-control{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    margin-right: 1px;
}
